<h1 class="pb-3">Pagina principal Rick y Morty</h1>
<hr>
<p>¡Explora el multiverso de Rick y Morty con nosotros!</p>

<p>Bienvenido a la web de "Rick Y Morty", tu puerta de entrada a un mundo lleno de personajes extravagantes de Rick y
    Morty. Conectados directamente a la API de la serie, traemos para ti una lista aleatoria de los habitantes más
    peculiares de las dimensiones.</p>

<p>Cada visita es una nueva aventura, ya que nuestra plataforma selecciona al azar una variada muestra de personajes:
    desde los adorables hasta los increíblemente extraños, asegurando una experiencia fresca y emocionante cada vez que
    cargas nuestra página.</p>

<p>Sin necesidad de viajar entre dimensiones, te ofrecemos un vistazo exclusivo a la diversidad de seres que pueblan el
    universo de Rick y Morty. ¿Quién aparecerá hoy en tu pantalla? ¡Eso es parte del misterio y la diversión!</p>

<p>¡Bienvenido a la web de "Rick Y Morty", donde la emoción de lo desconocido te espera en cada clic!</p>